@model ShoppingCartViewModel

<h2>Dina projekt och ditt material!</h2>
<h4>Här är dina nuvarande projekt och material som du valt att beställa</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Projekt och material-korgen</th>
            <th>Material</th>
            <th class="text-right">Pris</th>
            <th class="text-right">Totalt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@line.Amount</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Amount * line.Product.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Totalt:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Lägg till projekt/material</a>
</div>

